
.H1 p{
    font-size: 150%;
    font-style: arial;
    padding-left: 1%;

}
.H1 h1{
    text-decoration: underline;
    padding-left: 1%;
    background-color: black;
    color: aquamarine;
    box-sizing: border-box;
    
}

.H1 h2{
    text-decoration: underline;
    padding-left: 1%;
    font-size: 150%;
    background-color: black;
    color: aquamarine;
   
}


.images h3{
    text-decoration: underline;
    padding-left: 1%;
    font-size: 200%;
    background-color: black;
    color: aquamarine;
}

.images p{
    font-size: 150%;
    font-style: arial;
    padding-left: 1%;

}